<h3>Edit User</h3>
<form action="/users/<%=@user.id%>" method = 'post'>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type="hidden" name = '_method' value = 'patch'>
	<label for="first_name">first_name</label>
		<br>	
		<input type="text" name = 'first_name' value = '<%=@user.first_name%>'>
		<br>
		<label for="last_name">last_name</label>
		<br>	
		<input type="text" name = 'last_name' value = '<%=@user.last_name%>'>
		<br>
		<label for="email">email</label>
		<br>	
		<input type="text" name = 'email_address' value = '<%=@user.email_address%>'>
		<br>
		<input type="submit" value = 'Update'>
		<br>
		<a href="/users/<%=@user.id%>">show</a>  |  <a href="/">back</a>
</form>